<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="stylesheet" href="//unpkg.com/layui@2.9.6/dist/css/layui.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- 引入 jQuery 库 -->
    <style>
        .centered-container {
            position: absolute;
            top: 250px;
            left: 370px;
        }
    </style>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo layui-hide-xs layui-bg-black">
            <i class="fa fa-stethoscope" aria-hidden="true"></i>
            <a href="{{ url_for('index') }}" style="color: white;">EyeFort</a>
        </div>
    </div>
</div>

<div class="centered-container">
<div class="layui-container">
    <div class="layui-row">
        <div class="layui-col-md-offset3 layui-col-md6">
            <fieldset class="layui-elem-field">
                <legend>更改密码</legend>
                <div class="layui-field-box">
                    <div class="layui-form-item">
                        <label class="layui-form-label">新密码:</label>
                        <div class="layui-input-block">
                            <input type="password" name="new_password" id="new_password" lay-verify="required" placeholder="请输入新的密码" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">确认密码:</label>
                        <div class="layui-input-block">
                            <input type="password" name="confirm_password" id="confirm_password" lay-verify="required|confirmPassword" placeholder="请再次输入密码" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" onclick="changePassword()">提交</button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>
</div>

<script src="//unpkg.com/layui@2.9.6/dist/layui.js"></script>
<script>
    layui.use(['form', 'layer'], function () {
        var form = layui.form;
        var layer = layui.layer;

        form.verify({
            confirmPassword: function (value, item) {
                var newPassword = $('#new_password').val();
                if (value !== newPassword) {
                    return '密码不匹配';
                }
            }
        });
    });

    function changePassword() {
        var newPassword = $('#new_password').val();
        var confirmPassowrd = $('#confirm_password').val();

        if (newPassword !== confirmPassowrd) {
            layui.layer.msg('密码不匹配', {icon: 2});
            return;
        }

        // Send Ajax request to change password
        $.ajax({
            url: '/api/change_password_check',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({new_password: newPassword}),
            success: function (response) {
                if (response.code === 0) {
                    layui.layer.msg(response.message, {icon: 1});
                    // Redirect to personal center page after successful password change
                    setTimeout(function () {
                        window.location.href = '/Info'; // Modify the URL as needed
                    }, 2000);
                } else {
                    layui.layer.msg(response.message, {icon: 2});
                }
            },
            error: function () {
                layui.layer.msg('未知错误', {icon: 2});
            }
        });
    }
</script>

</body>
</html>
